<h1 mat-dialog-title>Consultar Vuelos</h1>
<div mat-dialog-content>
    <form [formGroup]="vueloForm">
        <mat-form-field appearance="outline">
            <mat-label>Desde</mat-label>
            <input formControlName="origen" matInput placeholder="Desde">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Hacia</mat-label>
            <input formControlName="destino" matInput placeholder="Hacia">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Boleto</mat-label>
            <mat-select formControlName="boleto" placeholder="Tipo de boleta">
                <mat-option value="Viaje de ida">Ida</mat-option>
                <mat-option value="Viaje de ida y vuelta">Ida y Vuelta</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha de Salida</mat-label>
            <input formControlName="fechaSalida" matInput [matDatepicker]="salidaPicker">
            <mat-datepicker-toggle matSuffix [for]="salidaPicker"></mat-datepicker-toggle>
            <mat-datepicker #salidaPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha de Vuelta</mat-label>
            <input formControlName="fechavuelta" matInput [matDatepicker]="vueltaPicker">
            <mat-datepicker-toggle matSuffix [for]="vueltaPicker"></mat-datepicker-toggle>
            <mat-datepicker #vueltaPicker></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="" mat-dialog-close>close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{acctionBtn}}</button>

</div>
